[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ghastoolkit = "==0.2.2"

[dev-packages]
black = "*"

[scripts]
main = "python -m cdsa"
# formatting / linting
fmt = "black cdsa"
lint = "black --check cdsa"
